	
	<div id="signup_pic">
		<div class="signup"><%= form_for @user do |f| %>
		  
		  <%= f.text_field :name, required: true, :placeholder => 'Name' %><br />
		  
		 
		  <%= f.email_field :email ,required: true, :placeholder => 'email'%><br />
		  
		  
		  <%= f.text_area :bio, required: true, :placeholder => 'bio' %><br />

		  
		  <%= f.text_area :username, required: true, :placeholder => 'username' %><br />
		  
		 
		  <%= f.password_field :password, required: true , :placeholder => 'password'%><br />
		  
		  <%= f.submit @custom_text %>
		  
		  <% end %>
		</div>
	</div>