<h1><%= @user.name %></h1>

	<p><%= @user.bio %></p>
	
	<p><%= @user.posts.size %></p>
	<p><%= link_to 'Create Post', new_post_path, method: :get %></p>
	
<h3><%= @user.name %>'s Posts</h3>

<ul>
  <% @user.posts.each do |post| %>
  <li><%= link_to post.title, post %></li>
  <% end %>
</ul> 

<%= link_to 'Log out', logout_path , method: :delete %> | <%= link_to 'Edit Profile', edit_user_path(@user) %>

