<div class="profile_container">
	<header id="profileHeader">
		
	
  
			<nav>
				<ul id="profileMenu">	
					<li><%= link_to 'Create Post', new_post_path, method: :get %></li>
					<li><%= link_to 'Edit Profile', edit_user_path(@user) %></li>
					<li><%= link_to 'Log out', logout_path , method: :delete %> </li>
				</ul>
			</nav>

		<div class="profileInfo">
			
			

			<h1 class="header"> <h3 class="showName"> <%= "  #{ @user.name.capitalize} "%></h3></h1>
			
			

			<h3 class="showBio"><%= @user.bio %></h3>
			<!-- <h4 class="postCount"> Posts:</h4> -->
			<p class="showBio"><%= pluralize(@user.posts.size, 'post') %></p>

		</div>

			</header>
	

	<div class="posts">
		<ul>
		  <% @user.posts.each do |post| %>
		  <li id="createPostLink"><%= link_to post.title, post %></li>
		  <% end %>
		</ul>


	</div>
</div>



