<h1><%= @post.title %></h1>
<p>created at: <%= @post.created_at %></p>

<p><%= @post.body %></p>



<p><%= link_to 'Edit post', edit_post_path %> </p>

<p><%= link_to 'Delete post', post_path, method: :delete%> </p>


<%= render 'comments/form' %>

<h3>Comments</h3>
<% @post.comments.each do |comment| %>
	<p><%= comment.text_comment %> | <%= link_to 'Edit ', edit_post_path %> | <p><%= link_to 'Delete post', post_path, method: :delete%> </p></p>
<% end %>