<div class="postShowContainer">
	
	<nav>
		<ul id="showPostMenu">	
			<li><%= link_to 'Edit post', edit_post_path %> </li>
			<li><%= link_to 'Delete post', post_path, method: :delete%></li>
		</ul>
	</nav>
	
	<div class ="postForm">
		
		<h1><%= @post.title %></h1>
		<p>created at: <%= @post.created_at %></p>

		<p><%= @post.body %></p>			
		<div ><%= render 'comments/form' %><div>
		<% @post.comments.each do |comment| %>
			<p><%= comment.text_comment%></p>
		<% end %>

	</div>


</div>