<!DOCTYPE html>
<html>
<head>
  <title>BlogSomyaJim</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,300italic,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="container">
<!-- <h1><%= current_user ? current_user.name : "no user logged in" %></h1> -->
	<%= flash[:notice] if flash[:notice] %>
	<%= flash[:alert] if flash[:alert] %>
	<%= yield %>
	</div>
</body>
</html>
